body{
    
    
    font-family: 'Poppins';
}
main{
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
   
}

.black-banner{
    width: 1200px;
    margin-top: 21px;
    padding:30px ;
    background: #161616;
    border-radius: 30px;
    height: 605px;
}

.black-banner h1 ,p {
    color: white;
 
}
.banner-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.banner-image{
   display:flex;
   flex-direction: column;
   
}
.banner-item h1{
    font-size: 50px;
}


.main-button{
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    border: none;
    color: white;
    font-size: 20px;
    transition: 2.5s ease-in-out;
}

.main-button:hover {
    background-color: #000000;
    color: white;
  }

  /*Game section styles*/

.games-section{
    width: 1200px;
    margin-top: 21px;
    padding:30px ;
   
    border-radius: 30px;
    
    margin-bottom: 21px;
  
}

.menu{
    display: grid;
    grid-template-columns: 280px auto;
    
}

.menu-options{

    background-color: black;
    width: 200px;
    height: 200px;
    padding: 30px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.plain-button{
    margin: 8px;
    border: none;
    border-radius: 7px;
    color: black;
    font-size: 15px;
    background-color: white;
    width: 200px;
    height: 50px;
    
}
#colored-button{
    background-color: #DD0000;
    color: white;
}

.games{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.game-card{
    border: 2px solid rgb(224, 220, 220);
    width: 280px;
    margin-bottom: 20px;
    height: 300px;
    border-radius: 10px;
}

.game-card img{
    width: 280px;
}

.game-card button{
    padding: 8px 12px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(184, 183, 183);
    background-color: white;
    color: black;
    
}
.game-details p{
 color: #000000;
 padding-left: 10px;
}

.game-timimg{
    display: grid;
    grid-template-columns: auto auto;
}

.game-timimg .fa-solid{
    padding-left: 10px;
    margin: 5px;
    font-size: 10px;
    font-weight: 200px;
    color: grey;
}
.game-timimg p{
    color: #000000;
}
/*match styles*/
.match-card{
    border: 2px solid rgb(184, 183, 183);
    width: 280px;
    margin-bottom: 20px;
    height: 250px;
    border-radius: 10px;
}

.match-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;

}
.match-details img{
    width: 93.04px;
    height: 56.18px;
}
.match-details p{
    color: black;
    text-align: center;
}
.match-info p,h3{
    
    color: black;
    text-align: center;

}

/*footer*/
footer{
    width: 100%;
    height:  300px;
    background-color: black;
}
.footer-items {
    
    padding-top: 40px;
    text-align: center;
}
.footer-items hr{
    width: 50%;
}
.footer-items .features{
    display: inline-flex;
    align-items: center;
}
.footer-items .features p{
    padding: 10px;
    font-family: 'poppins';
}

.footer-items .fa-brands{
    color: white;
    font-size: 15px;
    padding: 10px;
}

/*media queries*/


/*mobile phones*/
@media only screen and (max-width: 767px){
    
    .black-banner h1{
        color: white;
        font-size: 40px;
     
    }
    .black-banner p{
        color: white;
        font-size: 10px;
     
    }
    .black-banner{
        width: 100%;
        height: 100%;
    }

    .banner-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .banner-image{
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 10px;
        align-items:center;
     
    }
    .banner-image img{
        
        width: 100%;
        height: auto;
     
    }
  
    .main-button{
        font-size: 12px;
    }
    .games-section{
        width: 100%;
    }

    .menu{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
        
    }

    .menu-options{
        background-color: white;
    }

    .plain-button{
        border: 1px solid grey;
    }

    .games{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    footer{
        width: 100%;
        height:  100%;
        background-color: black;
    }

    .footer-items .features{
        display: block;
    }
    .footer-items .features p{
        padding: 10px;
        font-family: 'poppins';
    }
    
    .footer-items .fa-brands{
        color: white;
        font-size: 15px;
        padding: 10px;
    }
    
   
}

/*tablets and other devices*/
@media only screen and (min-width: 768px) and (max-width:992px){
        
    .black-banner h1{
        color: white;
        font-size: 50px;
     
    }
    .black-banner p{
        color: white;
        font-size: 20px;
     
    }
    .black-banner{
        width: 100%;
        height: 100%;
    }

    .banner-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .banner-image{
        padding-top: 25px;
        padding-right: 10px;
        padding-left: 10px;
        align-items:center;
     
    }
    .banner-image img{
        
        width: 100%;
        height: auto;
        
     
    }
  
    .main-button{
        font-size: 12px;
    }
    .games-section{
        width: 100%;
    }

    .menu{
        padding-top: 0;
        display: flex;
        flex-direction: column;
    }

    .menu-options{
        background-color: white;
        display:grid;
        grid-template-columns: repeat(3,1fr);
    
        padding: 0;
        
    }

    .plain-button{
        border: 1px solid grey;
    }

    .games{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    footer{
        width: 100%;
        height:  100%;
        background-color: black;
    }

    .footer-items .features{
        display: block;
    }
    .footer-items .features p{
        padding: 10px;
        font-family: 'poppins';
    }
    
    .footer-items .fa-brands{
        color: white;
        font-size: 15px;
        padding: 10px;
    }
    
   
}